html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:lightblue;
  position: relative;
}
#root {

  
  
  
  width: 100%;
  height: 100%;
  text-align: center;

}
/*
.loginpage{


background-color: rgba(255, 255, 255, 0.25);
  padding: 50px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  margin-right: 500px;
}




.box{ 
  
background-color: rgba(255, 0, 0, 0.395);
width: 300px;     
  height: 40px;      
  padding: 10px;     
  font-size: 16px;   
  border-radius: 5px;

}
.page1{
  background-color: rgba(0, 0, 0, 0); 
   display: flex;
  justify-content: center;   
  align-items: center;       
  height: 100vh;
  
}
.button {
  margin-top: 400pxx;
  
}

  


.header{
  height: 20%;
  width: 100%;
  background-color: blue;
  margin-bottom: 40%;
} */
 #header{
  width: 100%;
  height: 15%;
background-color:black;
display: flex;
font-size: larger;
justify-content: left;
text-align:center ;
justify-items: center;



 }
 .text{
 
  display: flex;
margin: 10px;
padding: 15px;
margin-bottom: 10px;
word-spacing: normal;
justify-items: left;
 cursor: pointer;
border-radius: 5px;
margin-right: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:black;
  margin-bottom: 10px;
}
.left{
  margin: 5px;
  justify-items: left;
  display: flex;
}
.right{
  margin: 5px;
 justify-content: left;
 display: flex;
 margin-left: 600px;
}
 
 .text:hover{
  
  background-color: black;
 transform: scale(0.9); 

 }
 .l1{

  justify-content: center;
  padding: 50px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  margin-right: 500px;;
 background-color:black;
 margin-top: 300px;
 margin-left: 500px;
 
  
 }
 .r1
{
  background-color: white;
  padding: 50px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  margin-left: 500px;
  margin-top: 300px;
  margin-bottom: 300px;
}
.box{ 
  
background-color:black;
width: 300px;     
  height: 40px;      
  padding: 10px;     
  font-size: 16px;   
  border-radius: 5px; 
margin-bottom: 20px;}
.b1{
display: flex;
gap: 10px;
text-align: center;
}
  .search-box{
    display: flex;
    margin-top: 25px;
    width: 150px;
    
    padding: 50px;
  }